[Unit]
Description=Raspberry Pi C-Bus Integrated Automatic Shutter Controller Daemon
After=network.target mosquitto.service
Requires=mosquitto.service

[Service]
Type=simple
WorkingDirectory=/home/markw/HomeAutomation_G1
ExecStart=/usr/bin/python3 /home/markw/HomeAutomation_G1/controllers/blind_daemon.py
Restart=always
RestartSec=10
User=pi
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
