[Unit]
Description=Raspberry Pi Smart Home CBUS Interface & Lighting Control
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/markw/HomeAutomation_G1
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONPATH=/home/markw/HomeAutomation_G1
ExecStart=/usr/bin/python3 /home/markw/HomeAutomation_G1/controllers/cbus_daemon.py
Restart=always
RestartSec=15
User=markw
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
