[Unit]
Description=Raspberry Pi Smart Home EV Charger ModbusTCP Controller Daemon
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/markw/HomeAutomation_G1
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /home/markw/HomeAutomation_G1/controllers/charger_daemon.py
Restart=always
RestartSec=10
User=markw
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
