[Unit]
Description=Raspberry Pi Living Area I2C Sensor & Waveshare HVAC Relay Daemon
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/markw/HomeAutomation_G1
ExecStart=/usr/bin/python3 /home/markw/HomeAutomation_G1/controllers/environment_daemon.py
Restart=always
RestartSec=5
User=root
# Running as root is required on the Pi to access hardware GPIO pins and the I2C bus

[Install]
WantedBy=multi-user.target
